In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saldanha,ZA,2021-12-24 23:15:26,-33.0117,17.9442,68.05,85,100,9.01
1,1,Oranjestad,AW,2021-12-24 23:12:09,12.5240,-70.0270,80.91,82,15,4.00
2,2,Kjollefjord,NO,2021-12-24 23:15:27,70.9457,27.3465,19.69,73,98,5.14
3,3,Byron Bay,AU,2021-12-24 23:12:00,-28.6500,153.6167,81.18,71,100,6.22
4,4,Kruisfontein,ZA,2021-12-24 23:15:28,-34.0033,24.7314,58.89,93,92,6.55

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []

#for temp in max_temp:
   # temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
 # Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Oranjestad,AW,2021-12-24 23:12:09,12.5240,-70.0270,80.91,82,15,4.00
3,3,Byron Bay,AU,2021-12-24 23:12:00,-28.6500,153.6167,81.18,71,100,6.22
9,9,Bathsheba,BB,2021-12-24 23:15:30,13.2167,-59.5167,79.41,73,75,19.57
10,10,Mahebourg,MU,2021-12-24 23:15:30,-20.4081,57.7000,76.24,88,20,5.75
14,14,Rikitea,PF,2021-12-24 23:15:32,-23.1203,-134.9692,77.11,69,17,8.10
15,15,Tautira,PF,2021-12-24 23:15:32,-17.7333,-149.1500,87.82,74,57,11.45
18,18,Kapaa,US,2021-12-24 23:15:33,22.0752,-159.3190,79.12,68,20,3.00
19,19,Touros,BR,2021-12-24 23:15:34,-5.1989,-35.4608,83.30,77,100,10.65
22,22,Grand-Lahou,CI,2021-12-24 23:15:35,5.1367,-5.0242,79.99,81,6,6.98
25,25,Ambulu,ID,2021-12-24 23:15:36,-8.3450,113.6058,77.76,89,93,2.26

In [13]:
preferred_cities_df.count()

City_ID       148
City          148
Country       148
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1    Oranjestad      AW     80.91  12.5240  -70.0270
3     Byron Bay      AU     81.18 -28.6500  153.6167
9     Bathsheba      BB     79.41  13.2167  -59.5167
10    Mahebourg      MU     76.24 -20.4081   57.7000
14      Rikitea      PF     77.11 -23.1203 -134.9692
15      Tautira      PF     87.82 -17.7333 -149.1500
18        Kapaa      US     79.12  22.0752 -159.3190
19       Touros      BR     83.30  -5.1989  -35.4608
22  Grand-Lahou      CI     79.99   5.1367   -5.0242
25       Ambulu      ID     77.76  -8.3450  113.6058

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Oranjestad,AW,80.91,12.5240,-70.0270,Divi Village Golf & Beach Resort
3,Byron Bay,AU,81.18,-28.6500,153.6167,Backpackers Inn
9,Bathsheba,BB,79.41,13.2167,-59.5167,Atlantis Hotel
10,Mahebourg,MU,76.24,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
14,Rikitea,PF,77.11,-23.1203,-134.9692,People ThankYou
15,Tautira,PF,87.82,-17.7333,-149.1500,Pension Oaoa
18,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
19,Touros,BR,83.30,-5.1989,-35.4608,INN NEW HORIZON
22,Grand-Lahou,CI,79.99,5.1367,-5.0242,Hotel Beatitude de Grand Lahou
25,Ambulu,ID,77.76,-8.3450,113.6058,Hotel Ambulu Jember

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))